<%= form_with(model: [@user, @post, @like], url: user_post_likes_path(@user, @post), method: :post) do |form| %>
  <div class="actions">
    <%= form.submit 'Like', class: 'btn btn-primary' %>
  </div>
<% end %>
