<!DOCTYPE html>
<html>
<head>
  <title>Comments</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="mt-2">Comments</h1>
        <p class="lead">Here you can see all the comments for a post.</p>
      </div>
    </div>

    <div class="row">
      <% @comments.each do |comment| %>
        <div class="col-sm-12 border rounded my-3">
          <h5 class="user-name py-3">
            Comment<%= comment.id %>
          </h5>
          <p class="user-name">
            <%= comment.text %>
          </p>
          <p class="user-name">
            Author: <%= comment.user.name %> <!-- Muestra el nombre del autor del comentario -->
          </p>
        </div>
      <% end %>
    </div>
  </div>

  <div>
    <div class="container">
      <div class="row">
        <div class="col text-center mb-3">
          <%= link_to "Back to Post", user_post_path(@user, @post), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
  
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
