<!DOCTYPE html>
<html>
<head>
  <title>List of Posts</title>
</head>
<body>
  <h1>List of Posts for a Given User</h1>
  <p>Here is a list of posts for a given user.</p>

  <!-- Placeholder for a list of posts -->
  <ul>
    <li>Post 1</li>
    <li>Post 2</li>
    <li>Post 3</li>
    <!-- You can add more list items for additional posts -->
  </ul>
</body>
</html>
