<!DOCTYPE html>
<html>
<head>
  <title>All Users</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <h1 class="mt-2">All Users</h1>
    <p class="lead">Here you can see all the users of the blog.</p>
    <div class="row">
      <ul class="list-group w-100 list-unstyled">
        <% @users.reverse_each do |user| %>
          <li class=" ">
            <div class="row">
              <div class="col-sm-2 border rounded m-1">
                <div class="d-flex align-items-center">
                  <div class="user-photo mt-5 ">
                    <% if user.photo && user.photo.match(/\.(png|jpg|jpeg|gif)$/i) %>
                      <img src="<%= user.photo %>" alt="User Photo">
                    <% else %>
                      User <%= user.id %> Pic
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="col-sm-9 border rounded m-1">
                <div class="d-flex align-items-center">
                  <div class="user-info w-100">
                    <h5 class="user-name mt-5">
                      <%= user.name %>  
                    </h5>
                    <p class="user-posts text-right">
                      Number of posts: <%= user.posts_counter %>  
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
