<div class="container">
  <div class="row">
    <div class="col-sm">
      <h1 class="mt-2"> Adventures in Writing's  Users</h1>
      <p class="lead">Here you can see all the users of the blog.</p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <% @users.each do |user| %>
        <div class="my-3 row">
          <div class="col-12 col-sm-3 col-md-2 col-lg-2 col-xl-2 d-none d-sm-block">
            <div class="user-photo">
              <img class="pic-shadow" src="<%= user.photo %>" alt="User Photo">
            </div>
          </div>
          <div class="col-12 col-sm-9 col-md-10 col-lg-10 col-xl-10">
            <div class="d-flex align-items-center h-100 custom-border py-1 px-3">
              <div class="user-info w-100">
                <h5 class="user-name">
                  <%= link_to user.name, user_path(user), title:"To User Details", class: "unstyled" %> 
                </h5>
                <p class="user-posts text-end m-0">
                  Number of posts: <%= user.posts_counter %>  
                </p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
