<!DOCTYPE html>
<html>
<head>
  <title>User Posts</title>
</head>
<body>
  <h1>User Posts for <%= @user_name %></h1>
  <p>Here you can see all the posts by this user.</p>

  <!-- Placeholder for posts -->
  <div class="post">
    <h5> Post 1 </h5>
    <h3>Post Title 1</h3>
    <p>Post content goes here.</p>
    <div class="comments">
      <h4>Comments:</h4>
      <p>User 1: Comment 1</p>
      <p>User 2: Comment 2</p>
      <!-- You can add more comment entries as needed -->
    </div>
  </div>

  <!-- You can repeat the above 'post' block for additional posts -->

  <div>
    <p> Back to User Details </p>
  </div>
</body>
</html>
