<!DOCTYPE html>
<html>
<head>
  <title>User Details</title>
</head>
<body>
  <h1>User Details</h1>
  <p>Here you can see user details.</p>

 
  <div class="user">
    <div class="user-photo">
      <img src="placeholder.jpg" alt="User Photo">
    </div>
    <div class="user-info">
      <h5>User Name</h5>
      <p>Number of posts: X</p>
    </div>
  </div>

 
  <div class="user-bio">
    <h5>User Name Bio</h5>
    <p>User bio goes here.</p>
  </div>

 
  <div class="user-posts">
 
    <div class="post">
      <h5>Post 1</h5>
      <h3>Post Title 1</h3>
      <p>Post content goes here.</p>
    </div>

 
    <div class="post">
      <h5>Post 2</h5>
      <h3>Post Title 2</h3>
      <p>Post content goes here.</p>
    </div>

 
  </div>

  <div>
    <p>See all posts</p>
  </div>
</body>
</html>
