<!DOCTYPE html>
<html>
<head>
  <title>Post Details</title>
</head>
<body>
  <h1>Post Details</h1>
  <p>Here you can see details of the post.</p>

  <!-- Placeholder for post details -->
  <div class="post">
    <h5>  Post X  by User Name </h5>
    <p>X comments</p>
    <p>X Likes</p>
    <h5>Post Title: Post Title X</h5>
    <p>Post Text: Post text goes here.</p>
  </div>

  <!-- Placeholder for comments -->
  <div class="comments">
    <h4>Comments (X comments):</h4>
    <ul>
      <li>No comments yet.</li>
      <!-- You can add more comment entries as needed -->
    </ul>
  </div>
</body>
</html>
