/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.user-photo {
  width: 120px;
  height: 120px;
  background-size: cover;
  background-position: center;
}

.user-photo img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  padding: 3px;
  background: rgba(0, 0, 0, 0.75);
  border: none;
}

.user-photo img:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
}

.custom-border {
  border: 1px solid #643191;
  border-radius: 56px;
  box-shadow: rgba(96, 94, 102, 0.35) 10px 5px 15px;
}

.custom-border:hover {
  transform: scale(1.01);
  transition: all 0.5s ease;
  background-color: #fbf6ff;
}

.user-info {
  padding-left: 20px;
}

.pic-shadow {
  box-shadow: -10px 10px 5px 0 rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -10px 10px 5px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -10px 10px 5px 0 rgba(0, 0, 0, 0.75);
}

.unstyled {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
}

.unstyled:hover {
  color: #ea03ff;
}

.custom-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

@media screen and (min-width: 992px) {
  .custom-border:hover {
    transform: scale(1.1);
  }
}
