/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.body-blog {
  background-color: #e6d5d5;
}

.user-photo {
  height: 100px;
}

.user-photo img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.custom-border {
  border: 1px solid #2a024b;
  border-radius: 2%;
  box-shadow: rgba(0, 0, 0, 0.35) 10px 5px 15px;
}
